<div class="about">
  <div class="about__text fadeUpTrigger">
    <p>WHAT’S Feesly?</p>
    <p>
      Feesly（フィースリー）は、<br>
      あしもとのコーディネートを共有するアプリです。
    </p>
    <p>
      意外と見られていないようで、実は見られているのがあしもと。<br>
      Feeslyはあなたらしいコーディネートを<br>
      見つけられる場所にしたいと思っております。
    </p>
  </div>
</div>
