<div class="main">
  <div class="main__visual">
    <div class="main__taxt">
      <p>This is so me!</p>
      <p>-わたしっぽいをたくさん見つけよう-</p>
    </div>
  </div>

  <div class="about">
    <div class="about__text">
      <p>WHAT’S Feesly?</p>
      <p>
      Feesly（フィースリー）は、<br>
      あしもとのコーディネートを共有するアプリです。
      </p>
      <p>
      意外と見られていないようで、実は見られているのがあしもと。<br>
      Feeslyはあなたらしいコーディネートを<br>
      見つけられる場所にしたいと思っております。
      </p>
    </div>
  </div>

  <div class="mission">
    <div class="mission__text">
      <p>Feesly’S MISSION</p>
      <p>This is so me!</p>
      <p>足もとにも、もっとわたしらしさを。</p>
      <p>
      あしもとまで自分らしい価値観で自由に彩っほしい。<br>
      無難にまとめがちで意外と悩みがちな部分、足もと。<br>
      そんなコーデのヒントになれるようにこのアプリは存在します。<br>
      おしゃれは足もとから、あなたの毎日がもっと楽しくなりますように。
      </p>
    </div>
  </div>
</div>
