<div class="main">
  <div class="main__visual">
    <div class="main__taxt">
      <p>This is so me!</p>
      <p>-足もとにも、もっとわたしらしさを-</p>
    </div>
  </div>

  <div class="about">
    <div class="about__text">
      <p>WHAT’S Feesly?</p>
      <p>
      Feesly（フィースリー）は、<br>
      あしもとのコーディネートを共有するアプリです。
      </p>
      <p>
      意外と見られていないようで、実は見られているのがあしもと。<br>
      Feeslyはあなたらしいコーディネートを<br>
      見つけられる場所にしたいと思っております。
      </p>
    </div>
  </div>

  <div class="mission">
    <div class="mission__text">
      <p>let's look</p>
      <p>カテゴリー別に探す</p>
      <%= link_to basic_posts_path do %>
        <% image_tag 'category-logo_01.png' %>
      <% end %>
    </div>
  </div>
</div>
