<div class="main">
  <div class="main__visual">
    <div class="main__taxt">
      <p>This is so me!</p>
      <p>-足もとにも、もっとわたしらしさを-</p>
    </div>
  </div>
  <%= render 'home/about' %>
  <%= render 'home/category' %>
</div>
