<div class="main">
  <div class="main__visual">
    <div class="main__taxt">
      <p>ASHIMOTO</p>
      <p>足元のおしゃれをもっと楽しもう！</p>
    </div>
  </div>

  <div class="about">
    <div class="about__text">
      <p>WHAT’S ASHIMOTO?</p>
      <p>
      テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
      <p>
      テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
    </div>
  </div>

  <div class="mission">
    <div class="mission__text">
      <p>ASHIMOTO’S MISSION</p>
      <p>コンセプト</p>
      <p>
      テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
    </div>
    <div class="news">
      <p>NEWS</p>
      <p>新着ニュース</p>
      <button>MORE→</button>
    </div>
  </div>
</div>
