<div class="main">
  <div class="main__visual">
    <div class="main__taxt">
      <p>This is so me!</p>
      <p>-わたしっぽいをたくさん見つけよう-</p>
    </div>
  </div>

  <div class="about">
    <div class="about__text">
      <p>WHAT’S Feesly?</p>
      <p>
      Feesly（フィースリー）は、<br>
      あしもとのコーディネートを共有するアプリです。
      </p>
      <p>
      意外と見られていないようで、実は見られているのがあしもと。<br>
      Feeslyはあなたらしいコーディネートを<br>
      見つけられる場所にしたいと思っております。
      </p>
    </div>
  </div>

  <div class="mission">
    <div class="mission__text">
      <p>ASHIMOTO’S MISSION</p>
      <p>コンセプト</p>
      <p>
      テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。<br>
      テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
    </div>
    <div class="news">
      <p>NEWS</p>
      <p>新着ニュース</p>
      <button>MORE→</button>
    </div>
  </div>
</div>
