@import "parts/reuse";

.search{
  width: 100px;
}

.main{
  &__visual{
    height: 600px;
    background-size:cover;
  }
}

.menu-list{
  width: 95%;
}

.category-content{
  height: 1400px;

  & .caption02{
    @include caption(80%);
  }

  & .all-posts{
    top: 1250px;
    left: 50%;
  }

  &__items{
    & .category-img{
      margin-top: 215px;
    }
  }
}

.container{
  &__post{
    width: 400px;
    height: 400px;
    padding: 20px;
  }
}

.edit-container{
  & .edit-content{
    width: 450px;
  }
}

.back{
  font-size: 13px;
}

.follow{
  width: 80px;
  height: 22px;
  font-size: 11px;
  margin-right: 0;
}

.comment-box{
  margin-left: 20px;

  & .comment-text{
    max-width: 300px;
    max-height: 40px;
  }
  & .comment-btn{
    height: 40px;
    top: 48%;
  }
}
