@import "parts/reuse";

.search{
  width: 100px;
}

.main{
  &__visual{
    height: 600px;
    background-size:cover;
  }
}

.menu-list{
  width: 95%;
}

.category-content{
  height: 1400px;

  & .caption02{
    @include caption(80%);
  }

  & .all-posts{
    top: 1250px;
    left: 50%;
  }

  &__items{
    & .category-img{
      margin-top: 215px;
    }
  }
}

.container{
  &__post{
    width: 400px;
    height: 400px;
    padding: 20px;
  }
}

.edit-container{
  & .edit-content{
    width: 450px;
  }
}
