@import "parts/reuse";

.search{
  width: 250px;
}

.main{
  &__visual{
    height: 600px;
    background-size:cover;
    background-image: url('top_600up.png');
  }

  &__taxt{
    padding-top: 30%;

    & p:nth-child(1){
      font-size: 55px;
    }

    & p:nth-child(2){
      font-size: 16px;
      margin: 0;
    }
  }
}

.about{
  height: 150px;

  &__text{

    & p:nth-child(1){
      font-size: 20px;
    }

    & p:nth-child(2){
      font-size: 16px;
    }

    & p:nth-child(3){
      font-size: 12px;
    }
  }
}

.category-content{
  height: 1000px;

  & .caption02{
    @include caption(75%);
  }

  & .all-posts{
    top: 870px;
    left: 50%;
  }
}

footer{
  height: 130px;
  text-align: center;
  color: $MainColor;
  padding-top: 8%;
  background-color: $SubColor;

  & .footer-logo{
    max-width: 125px;
    max-height: 150px;
  }

  & p{
    font-size: 12px;
    font-weight: 400;
  }
}

.menu-list{
  width: 75%;
}

.login-hamburger-menu{
  display: block;
  margin-top: 12px;
}

.login-close{
  display: block;
  position: absolute;
  right: 20px;
  top: 15px;
}

.login-list{
  display: none;

  & .post{
    color: $White;
    margin: 0 auto 20px auto;
  }
}

.login-list.active{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50%;
  height: 60%;
  background-color: rgba(0,0,0,.7);
  animation: appear .5s ease;

  & .login-nav{
    margin-top: 75px;
    display: flex;
    flex-flow: column;
  }
}

.container{
  &__post{
    width: 460px;
    height: 400px;
    padding: 30px;
  }

  & .post-title{
    font-size: 15px;
  }

  & .post_image{
    max-width: 200px;
    max-height: 250px;
  }
}

.content{
  width: 100px;
  margin-left: 20px;

  & .form-text{
    font-size: 25px;
  }

  & .form-area{
    font-size: 17px;
  }

  & .form-btn{
    font-size: 13px;
  }
}

.follow{
  margin-right: 5px;
}

.comment-box{
  margin-left: 40px;

  & .comment-text{
    max-width: 390px;
    max-height: 25px;
  }
  & .comment-btn{
    top: 49%;
  }
}
