@import "parts/reuse";

.search{
  width: 350px;
}

.main{
  &__visual{
    height: 440px;
    background-size:cover;
  }
}

.about{
  height: 250px;
}

.category-content{
  height: 850px;

  &__items{
    width: 85%;
  }

  & .caption02{
    @include caption(70%);
  }

  & .all-posts{
    top: 700px;
  }
}

.login-hamburger-menu{
  display: none;
}

.login-close{
  display: none;
}
