// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "parts/colors";
@import "parts/reuse";

.comment-box{
  margin-left: 260px;

  & .comment-text{
    position: relative;
    max-width: 800px;
    max-height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-radius: 10px;
    background-color: #EBECED;
  }

  & .comment-btn{
    position: absolute;
    top:55%;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    font-size: 13px;
    color: $White;
    border: none;
    border-radius: 5px;
    background-color: $MainColor;
  }
}

.comment-all{
  display: flex;
  color: $TextColor;

  & p:nth-child(2){
    margin-right: 20px;
  }

  & .comment-delete{
    width: 45px;
    height: 20px;
    text-align: center;
    margin-top: 18px;
    font-size: 13px;
    border-radius: 3px;
    color: $TextColor;
    text-decoration: none;
    background-color: $ItemColor;
  }
}
