// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "parts/colors";
@import "parts/reuse";

.follow{
  width: 120px;
  height: 25px;
  border-radius: 5%;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
  margin-right: 200px;
  margin-top: 8px;
  color: $White;
  text-decoration: none;
  background-color: $MainColor;
}

.follow:hover{
  opacity: 0.8;
}
