<div class="container">
  <div class="container__post">
    <p>新規投稿</p>
    <div class="container__post-content">
      <div class="image">
        <%= image_tag 'image_upload_sample.jpg' %>
      </div>
      <div class="content">
        <p>投稿内容が入ります。</p>
      </div>
    </div>
  </div
</div>
