// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$MainColor: #2f4f4f;
$SubColor: #F5F5DC;
$White: white;
$Black: black;
$Flash: #FFD700;
$TextColor: #001100;

.container{
  width: 100%;
  height: 100%;

  &__post{
    width: 800px;
    height: 495px;
    margin: 50px auto;
    padding: 50px 65px;
    border-radius: 15px;
    background-color: $SubColor;

    & p{
      margin: 0;
    }

    & .post-title{
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 600;
      color: $MainColor;
    }
  }

  &__post-content{
    display: flex;
  }

  & .post_image{
    max-width: 350px;
    max-height: 450px;
    border-radius: 20px;
    cursor: pointer;
  }
}

.content{
  margin-left: 40px;
  flex-grow: 1;

  & .form-text{
    resize: vertical;
    width: 100%;
    border-bottom: 1px solid #BDB76B;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 45px;
    font-weight: 700;
    background-color: $SubColor;
    color: $MainColor;
  }

  & .form-text::placeholder{
    color:#BDB76B;
  }

  & .form-area{
    margin-top: 60px;
    resize: vertical;
    width: 100%;
    max-height: 180px;
    border-bottom: 1px solid #BDB76B;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 30px;
    font-weight: 600;
    background-color: $SubColor;
    color: $MainColor;
  }

  & .form-area::placeholder{
    color:#BDB76B;
  }

  & .form-btn{
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin-top: 80px;
    background-color: $MainColor;
    cursor: pointer;
    color: $White;
  }

  & .form-btn:hover{
    opacity: 0.8;
  }

  & .form-back{
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin-top: 30px;
    color: $MainColor;
    background-color: $SubColor;
    border: 1px solid $MainColor;
    cursor: pointer;
  }

  & .form-back:hover{
    background-color: $MainColor;
    color: $White;
  }

  & .back{
    text-decoration: none;
    color: $MainColor;
  }
}

.index-container{
  width: 100%;
  height: 100%;
  margin-bottom: 50px;

  & .title{
    text-align: center;
    margin-top: 50px;
  }

  & .index-content{
    margin: 0 40px 0 40px;
    text-align:center;
  }

  & .index-items{
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: $SubColor;

    &:nth-child(1){
      margin-left: 0;
    }

    & p{
      margin: 0 auto;
    }

    & .index-image{
      max-width: 100%;
      max-height: 150px;
    }

    & .index-icon{
      border-radius: 50%;
      text-align: left;
    }
  }

  & .index-links{
    display: flex;
    flex-flow: column;

    & .link{
      width: 190px;
      text-decoration: none;
      border: 1px solid $MainColor;
      font-size: 13px;
      font-weight: 600;
      padding: 5px;
      color: $MainColor;
    }

    & .link:hover{
      background-color: $MainColor;
      color: $White;
    }

    & .link:nth-child(2){
      margin-top: 5px;
    }

    & .delete-link{
      text-align: left;
      text-decoration: none;
      margin-top: 15px;
      font-size: 13px;
      color: $MainColor;
    }
  }

  & .index-nav{
    display: flex;
    flex-flow: column;

    & .index-user{
      margin-top: 15px;
      display: flex;

      & p:nth-child(1){
        margin: 0;
      }

      & .user-name{
        margin: 15px 0 0 10px;
      }
    }

    & .show-link{
      width: 190px;
      margin-top: 5px;
      color: $MainColor;
      font-size: 13px;
      font-weight: 600;
      padding: 5px;
      text-decoration: none;
      border: 1px solid $MainColor;
    }

    & .show-link:hover{
      background-color: $MainColor;
      color: $White;
    }
  }
}
