// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$MainColor: #3E3E3B;
$SubColor: #A2AAB0;
$ItemColor: #CBC5C1;
$White: white;
$Black: black;
$TextColor: #001100;

.container{
  width: 100%;
  height: 100%;

  &__post{
    width: 800px;
    height: 495px;
    margin: 50px auto;
    padding: 50px 65px;
    border-radius: 15px;
    background-color: $ItemColor;

    & p{
      margin: 0;
    }

    & .post-title{
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 600;
      color: $MainColor;
    }
  }

  &__post-content{
    display: flex;
  }

  & .post_image{
    max-width: 350px;
    max-height: 450px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.content{
  margin-left: 40px;
  flex-grow: 1;

  & .status{
    color: #d73a31;
  }

  & .favo-cont{
    display: flex;
    margin-bottom: 30px;

    & .text-count{
      margin-top: 10px;
      font-weight: 600;
      color: $MainColor;
    }
  }

  & .form-text{
    resize: vertical;
    width: 100%;
    border-bottom: 1px solid #EBECED;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 45px;
    font-weight: 700;
    background-color: $ItemColor;
    color: $MainColor;
  }

  & .form-text::placeholder{
    color: #EBECED;
  }

  & .form-area{
    margin-top: 30px;
    margin-bottom: 7px;
    resize: vertical;
    width: 100%;
    max-height: 250px;
    border-bottom: 1px solid #EBECED;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 27px;
    font-weight: 600;
    background-color: $ItemColor;
    color: $MainColor;
  }

  & .form-area::placeholder{
    color: #EBECED;
  }

  & .select{
    width: 100%;
    height: 30px;
    background-color: #EBECED;
    color: $MainColor;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }

  & .edit-select{
    display: flex;
    justify-content: space-between;

    & .select-edit{
      width: 200px;
      height: 30px;
      background-color: #EBECED;
      color: $MainColor;
      border-radius: 5px;
      border: none;
      margin-bottom: 20px;
    }
  }

  & .form-btn{
    width: 100%;
    height: 43px;
    font-size: 15px;
    background-color: $MainColor;
    cursor: pointer;
    color: $White;
  }

  & .edit-btn{
    width: 100%;
    height: 43px;
    font-size: 15px;
    background-color: $MainColor;
    cursor: pointer;
    color: $White;
  }

  & .form-back{
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin-top: 30px;
    color: $MainColor;
    background-color: $ItemColor;
    border: 1px solid $MainColor;
    cursor: pointer;
  }

  & .confirm-btn{
    width: 100%;
    height: 43px;
    font-size: 15px;
    background-color: $MainColor;
    cursor: pointer;
    color: $White;
  }

  & .confirm-back{
    font-size: 15px;
    margin-top: 10px;
    color: $MainColor;
    background-color: $ItemColor;
    border: none;
    cursor: pointer;
  }

  & .form-btn:hover{
    opacity: 0.8;
  }

  & .form-back:hover{
    background-color: $MainColor;
    color: $White;
  }

  & .back{
    text-decoration: none;
    color: $MainColor;
  }
}

.index-container{
  width: 100%;
  height: 100%;
  margin-bottom: 50px;

  & .title{
    text-align: center;
    font-weight: 600;
    margin-top: 50px;
    color: $MainColor;
  }

  & .index-content{
    margin: 0 40px 0 40px;
    text-align:center;
  }

  & .index-items{
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: $ItemColor;

    &:nth-child(1){
      margin-left: 0;
    }

    & p{
      margin: 0 auto;
    }

    & .index-image{
      max-width: 100%;
      max-height: 150px;
    }

    & .index-icon{
      border-radius: 50%;
      text-align: left;
    }
  }

  & .index-links{
    display: flex;
    flex-flow: column;

    & .link{
      width: 190px;
      text-decoration: none;
      border: 1px solid $MainColor;
      font-size: 13px;
      font-weight: 600;
      padding: 5px;
      color: $MainColor;
    }

    & .link:hover{
      background-color: $MainColor;
      color: $White;
    }

    & .link:nth-child(2){
      margin-top: 5px;
    }

    & .delete-link{
      text-align: left;
      text-decoration: none;
      margin-top: 15px;
      font-size: 13px;
      color: $MainColor;
    }
  }

  & .index-nav{
    display: flex;
    flex-flow: column;

    & .index-user{
      margin-top: 15px;
      display: flex;

      & p:nth-child(1){
        margin: 0;
      }

      & .user-name{
        margin: 15px 10px 0 10px;
      }
    }

    & .show-link{
      width: 190px;
      margin-top: 5px;
      color: $MainColor;
      font-size: 13px;
      font-weight: 600;
      padding: 5px;
      text-decoration: none;
      border: 1px solid $MainColor;
    }

    & .show-link:hover{
      background-color: $MainColor;
      color: $White;
    }
  }
}
