$MainColor: #3E3E3B;
$SubColor: #A2AAB0;
$ItemColor: #CBC5C1;
$White: white;
$Black: black;
$TextColor: #001100;

#error_explanation{
  color: #d73a31;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%,0);
}

.alert{
  color: #d73a31;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%,0);
  margin: 0;
}

.login-container{
  width: 100%;
  height: 700px;
  color: $MainColor;

  & .login-content{
    width: 350px;
    height: 500px;
    margin: 120px auto;
    background-color: $ItemColor;
    border-radius: 20px;
  }

  & .login-form{
    text-align: center;
  }

  & .login-field{
    width: 250px;
    height: 30px;
  }

  & .actions{
    margin-top: 30px;
    margin-bottom: 20px;
  }

  & .actions-new{
    margin-top: 28px;
    margin-bottom: 5px;
  }

  & .actions-btn{
    width: 250px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: $White;
    background-color: $MainColor;
    cursor: pointer;
  }

  & .actions-btn:hover{
    opacity: 0.8;
  }
}

.field{
  margin-top: 15px;
}

.field:nth-child(2){
  display:flex;
  flex-flow: column;
}

.login-field:nth-child(2){
  margin: 0 auto;
}

.login-title{
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 700;
}

.login-link{
  text-decoration: none;
  font-size: 13px;
  color: $MainColor;
}
